@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(220, 192, 255);   */
    font-family: "Poppins", serif;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: #0394fc;
}

.container{
    width: 1100px;
    margin: 0 auto;
    
}

#nav .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: #fff;
}

#nav ul{
    display: flex;
    list-style-type: none;
}

#nav ul li{
    display: inline-block;
    margin-left: 30px;
}

#nav a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

#nav ul a:hover{
    background: lightblue;
}

#hero{
    background-color: #0367fc;
    height: 400px;   
}

#hero .container{
    display: flex;
    color: #fff;
}

#hero .container .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero img{
    max-width: 400px;
}

.boxes {
    background-color: #75d1e6;
}
.boxes .container{
    /* background-color: #0764f0; */
    /* color: #fff; */
    /* justify-content: space-between; */
    display: flex;
    
}

.box{
    background-color: #072ef0;
    color: #fff;
    border-radius: 20px;
    margin: 20px 5px;
    padding: 15px 20px;
}


.boxes i{
    margin-right: 10px;
  }
  @media screen and (max-width: 768px) {
    .header .container{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
    }

    .header .container div{
        text-align: center;
    }
    
    .boxes .container{
        display: block;
    }
}
    
    